nav{
    background-color: gainsboro;
    li{
        display: inline-block;
        a{
            text-decoration: none;
            color: black;
            margin-left: 10px;
            text-align: center;
            letter-spacing: normal;
            font-weight: bold;
            text-transform: uppercase;


        }
    }
}
